# IDE & Editor Files
.idea/
.vscode/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Environment Files
.env
.env.*
!.env.example

# Dependency Directories
node_modules/

# Build & Compilation Output
/api/dist
/api/build
/build/
/dist/
/out/
/tmp/
/api_v2/tmp
/flutter_app/build/

# Log Files
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS-specific
.DS_Store

# Test & Coverage Reports
/coverage/
/.nyc_output/

# Runtime Data
pids/
*.pid
*.seed
*.pid.lock

# Diagnostic Reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Flutter
/flutter_app/.dart_tool/
/flutter_app/ios/
/flutter_app/linux/
/flutter_app/macos/
/flutter_app/windows/
/flutter_app/.fvm/

/.github/instructions